.navbars {
    background: var(--bg-gray);
    display: flex;
    align-items: center;
}

.container-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    color: var(--white);
    margin: 0 !important;
}

.nav-header {
    color: var(--white);
    font-weight: 400;
}

i {
    padding: 5px;
    font-size: 19px;
}

.icon-header {
    display: flex;
    align-items: center;
}

.icon-header a {
    align-items: center;
    color: var(--white);
}

.icon-header a:hover {
    color: var(--white) !important;
}

.navbar-toggler {
    border: none !important;
    background: none;
}

.icon-bars {
    color: var(--white);
}

.navbar-toggler:focus {
    outline: none !important
}

.navbar-toggler-icon {
    background: var(--white) !important
}

.nav-child {
    background: #363a40 !important;
}

ul li {
    display: inline-block;
    padding: 22px 2rem;
}

ul li:hover {
    background: var(--bg-gray-2);
    color: var(--white);
}

li a:hover {
    display: block;
    color: var(--white);

}

/* search  */
.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 49px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    padding-right: 40px;
    color: rgb(0, 0, 0);
}

.input-search::placeholder {
    color: rgba(37, 32, 32, 0.5);
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 49px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 0px;
    color: var(--white);
    background-color: var(--bg-gray);
    pointer-events: painted;
}

.btn-search:focus {
    outline: none !important;
}

.btn-search:focus~.input-search {
    z-index: 2;
    width: 250px;
    border-radius: 0px;
    background-color: white;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    /* transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2); */
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    z-index: 1000;
}

.input-search:focus {

    width: 250px;
    border-radius: 0px;
    background-color: white;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/* Dropdown Button */
.dropbtn {
    color: #020202;
    font-size: 22px;
    padding: 0 8px;
    border: none;
    background: none;
}

/* .dropbtn:hover {
    color: #ffff;
} */

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 10;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    top: 42
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none !important;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: var(--bg-gray) !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.fa-user {
    color: var(--white);
}

.badge {
    font-size: 14px !important;
    background: var(--white);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    font-size: 14px !important;
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .navbars {
        padding: 0 1rem !important;
        height: 48px;
    }

    .container-header {
        justify-content: space-between;
    }

    .icon-cart {
        padding: 0 5px 0 !important;
    }

    .search-box {
        width: fit-content;
        height: fit-content;
        position: relative;
    }

    .input-search {
        height: 49px;
        width: 22px;
        border-style: none;
        padding: 1px !important;
        font-size: 18px;
        letter-spacing: 2px;
        outline: none;
        border-radius: 25px;
        transition: all .5s ease-in-out;
        color: rgb(194, 193, 193);
    }

    .input-search::placeholder {
        color: rgba(37, 32, 32, 0.5);
        font-size: 14px;
        letter-spacing: 1px;
    }


    .icon-search {
        color: white;
    }

    .btn-search:focus {
        outline: none !important;
    }

    .btn-search:focus~.input-search {
        outline: none !important;
        width: 130px;
        border-radius: 0px;
        background-color: white;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.25, 1);
    }

    .input-search:focus {
        width: 130px;
        border-radius: 0px;
        background-color: white;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.25, 1);
    }

    .dropbtn {
        margin-top: 0;
    }

}