.bill {
    font-size: 20px;
    font-weight: 400;
}

.input-bill {
    border: none;
    color: rgb(0, 179, 255);
    pointer-events: none;
    background: none;

}

.input-bill-total {
    border: none;
    font-size: 20px;
    pointer-events: none;
    background: none;
}