#thumbnail {
    display: flex !important;
}

.widget-svg {
    width: 20px !important;
    height: 20px !important;
}

.rate {
    cursor: pointer;
    border: 1px;
    padding: 3px;
    color: white;
    background: rgb(41, 74, 222);
    border-radius: 5px;
}

.price-detail {
    color: rgb(222, 29, 29);
    text-transform: lowercase !important;
    padding-top: 6px;
}

.inputs {
    display: flex;
}

.inputs input {
    width: 50px;
    text-align: center;
    font-weight: 700;
    font-size: larger;
    cursor: default;
    z-index: 10;
}

.increments {
    padding: 5px 15px !important;
}

.decrements {
    padding: 5px 15px !important;
}

.namecate {
    font-size: 18px;
    font-weight: 700;
}