.navShop {
    height: 100%;
}

.rowShop {
    margin: 0 !important;
    min-height: 100% !important;
}

.col-filter {
    min-width: 250px;
    margin-top: 29px;
    min-height: 100vh;
}

.ant-menu-item {
    padding-left: 16px !important;
}